@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next {
  color: #222 !important;
  font-size: 20px;
}
.swiper-button-next::after {
  font-size: 25px !important;
}
.swiper-button-prev {
  color: #222 !important;
  font-size: 20px;
}
.swiper-button-prev::after {
  font-size: 25px !important;
}

.form-container {
  @apply appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none shadow-sm;
}

.form-title {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.form-container-1 {
  @apply border-[1px] border-solid border-black rounded-lg shadow-md bg-light-blue-2 p-3;
}

.form-title-1 {
  @apply block uppercase tracking-wide text-gray-700 text-lg font-bold mb-2;
}

.container-table {
  @apply overflow-scroll  scrollbar-thumb-lighBlue scrollbar-thin scrollbar-track-slate-200 lg:scrollbar-track-transparent scrollbar-thumb-rounded;
}

.admin-title {
  @apply text-light-dark text-xl font-medium mb-4;
}
